[2020-12-31 05:34] pawanpraka1 opened #2 "use resource ResourceList for capacity"
**Describe the problem/challenge you have**

Currently capacity is string. We should move towards ResourceList to store the capacity.

[2020-12-31 05:35] pawanpraka1 opened #3 "support resize for LVM"
**Describe the problem/challenge you have**

Support resize for lvm volumes.

[2021-01-04 07:56] ThisIsQasim opened #5 "fsGroup security context isn't applied"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.]
Setup a storage class
Provision a PV using a PersistentVolumeClaimTemplate
Add a `SecurityContext` with `fsGroup: 1000` and `runAsUser: 1000` on the pod.
The provisioned pv has root owenership

**What did you expect to happen:**
The provisioned PV should have the correct

[2021-01-05 07:17] pawanpraka1 opened #6 "move pkg/response to openebs/lib-csi repo"

[2021-01-05 07:18] pawanpraka1 opened #7 "lvm volumes are not visible on the host machine."
When volume gets provisioned, the lvdisplay on the host does not show the volume. How ever the lvdisplay is showing the volume inside the lvm node daemonset.

inside container
[code]

On the host

[code]

[2021-01-05 10:32] pawanpraka1 opened #8 "merge pkg/config with pkg/driver"
**Describe the problem/challenge you have**

Merge pkg/config into pkg/driver as the config is driver specific.

[2021-01-05 10:33] pawanpraka1 opened #9 "add helm chart for lvm driver"

[2021-01-06 08:23] sonasingh46 commented on #3
@pawanpraka1 -- I would like to work on this issue. If you have any pointers/relevant doc on this one, please point me to that.

[2021-01-06 08:28] pawanpraka1 commented on #3
@sonasingh46 there is already a PR for this one https://github.com/openebs/lvm-localpv/pull/4.

[2021-01-06 08:29] pawanpraka1 opened #10 "add snapshot support for lvm-localpv"
**Describe the problem/challenge you have**

We want to be able to create a snapshot of the lvm volumes.

[2021-01-06 10:25] akhilerm commented on #10
@pawanpraka1 , I can take up this issue.

[2021-01-06 14:13] pawanpraka1 commented on #10
thanks @akhilerm. Please look at this PR for reference https://github.com/openebs/zfs-localpv/pull/39.

[2021-01-07 06:48] pawanpraka1 opened #11 "add capacity weighted schduler for LVM Driver"
**Describe the problem/challenge you have**

We pick the nodes based on volume count only. We can also look for capacity occupied by the volumes on the node and pick the node where less capacity is occupied. We can do the same thing we did for ZFS Driver https://github.com/openebs/zfs-localpv/pull/266

[2021-01-08 09:15] sonasingh46 commented on #3
Ok. I was not aware. At least, I can review.

[2021-01-12 06:44] #3 closed

[2021-01-15 07:19] pawanpraka1 opened #13 "add support to create clone out of lvm snapshot"

[2021-01-29 18:56] iyashu opened #15 "lvm volume deletion is not idempotent leading to leak of lvmvolumes objects"
**What steps did you take and what happened:**

Steps to reproduce -
1. Create a statefulset of size 5 with some volumeclaim & wait for all pods to be running.
2. Delete the statefulset & wait for deletion of all pods
3. Delete all pvcs using `kubectl delete pvc {claim-name}-{sf-name}-{index}` and wait till its removed.
4. List all lvmvolume objects in the openebs namespace using `kubectl get lvmv

[2021-01-29 19:33] pawanpraka1 commented on #15
I have planned to do this. Thanks for reporting this issue. Please go ahead and raise the pull request.

[2021-02-02 05:46] pawanpraka1 commented on #5
@ThisIsQasim thanks for this issue. fsgroup support is in alpha in k8s 1.19 (https://kubernetes-csi.github.io/docs/support-fsgroup.html). can you check this https://github.com/openebs/zfs-localpv/issues/282#issuecomment-771377437.

[2021-02-02 06:22] ThisIsQasim commented on #5
I am currently using this on k8s 1.18 so I am afraid I can't test this.

[2021-02-02 12:52] #15 closed

[2021-02-02 12:58] iyashu opened #17 "support for multiple volume group within a given node"
**Describe the problem/challenge you have**
[A description of the current limitation/problem/challenge that you are experiencing.]
Do we have any plans to support multiple volume groups within a storage class? As of now, I see there is `volgroup` parameter is being used by controller that one specifies in the storage class. But I think there is no way to specify multiple volume groups exists in a

[2021-02-03 11:35] pawanpraka1 commented on #5
I have tested it and this works as expected, see the discussion here (https://github.com/openebs/zfs-localpv/issues/282). Closing this issue.

[2021-02-03 11:35] #5 closed

[2021-02-03 11:52] pawanpraka1 commented on #7
@praveeng can you take a look at this one.

[2021-02-04 05:49] pawanpraka1 commented on #17
need to understand one thing here, we don't need to create single vg group across all the disks. Why can't we create multiple vg groups and create storageclasses for each vg group and use them?

[2021-02-04 09:51] iyashu commented on #17
@pawanpraka1 disks are fluid in nature i.e they can added or removed as per the capacity requirement of the cluster. Creating separate storage classes for each disks will require users to update their manifest/pvcs. Note here we are talking about disks of exactly same type (e.g ssd with same hardware spec).

[2021-02-04 10:05] pawanpraka1 commented on #17
ok, so user will create vg groups using the same kind of disks with name having some common patterns. And now we need to create on single storageclass with the vg group pattern and later we will decide which vg group to pick among all the matching vg group. He can label the nodes where these vg group is present and use the topology contraints in the storageclass. This sounds good, good to have thi

[2021-02-04 16:25] iyashu opened #18 "Add ability to reschedule the volume provisioning in case selected node doesn't have enough capacity"
**Describe the problem/challenge you have**
[A description of the current limitation/problem/challenge that you are experiencing.]
As of now, if the [selected node](https://github.com/openebs/lvm-localpv/blob/b370f3c3ea8f69467a23e8e90139e81b9e2ce632/pkg/driver/controller.go#L234) vg doesn't have enough capacity, pod will remain in pending (when using wait param) or container creating state forever

[2021-02-08 08:16] #10 closed

[2021-02-11 17:05] #11 closed

[2021-02-12 09:24] pawanpraka1 commented on #7
we can refresh the cache on the host to check all the lvm volumes on the node.

[code]

[2021-02-12 09:24] #7 closed

[2021-03-03 15:48] #18 closed

[2021-03-05 10:01] w3aman opened #31 "volume is in pendig state in case of waitforfirstconsumer"
**What steps did you take and what happened:**

- node-1 is having 30Gi free space and node-2 having 50Gi
- Now apply pvc with 40 Gi with storage-class for WaitForFirstConsumer and topology with only these 2 nodes.
- pvc is pending  now waiting for consumer
- Drain the node2 which one is having free space > 40Gi
- apply the busybox yaml with this pvc, now volume is trying to create but having `Vol

[2021-03-05 10:01] w3aman commented on #31
cc: @iyashu

[2021-03-05 18:13] iyashu commented on #31
@w3aman It may or may not be scheduled on node-2 in above example. See it's not guaranteed that pod will be scheduled on the node having free storage space since the kube-scheduler score the nodes based on other [parameters](https://kubernetes.io/docs/reference/scheduling/config/#scheduling-plugins-1). It's not aware of storage capacity accessible from nodes at all. But the important part here is

[2021-04-15 12:59] w3aman opened #47 "pvc stucks in pending state in case of thin provisioning when pvc size is more than volume group size"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.]

LVM-driver: 0.4.0
k8s: 1.20
Ubuntu: 20.04

steps:
- create volume group on node1 (vg size: 50Gi)
- used thinprovision: "yes" parameter in storage class
- tried to create pvc with more size that vg size (pvc size: 75Gi > vg size 50Gi)

pvc remains in pending with followin

[2021-04-15 15:28] #17 closed

[2021-04-20 07:10] kmova opened #51 "LVM Local PV - GitHub updates"
- [ ] README Updates
  - [ ] Badges
  - [ ] Project Status - Beta
  - [ ] k8s version compatibility
  - [ ] Quickstart guide
  - [ ] Contributor Docs
  - [ ] Adopters.md with links to openebs/openebs adopters
  - [ ] Roadmap link to openebs project
  - [ ] Community Links
- [ ] Helm Charts
- [ ] GitHub Builds
- [ ] Multiarch builds
- [ ] Disable Travis
- [ ] Downstream tagging
- [ ] e2e tests
- [

[2021-04-20 13:40] w3aman opened #52 "vgPattern is not selecting correct volume group"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.]

- Created storage class with vgPattern as `lo*` for my volume group starting with `lo` initials.
- volume should have been created from this volume group but it was created on a volgroup named `lvmvg`

[code]

  here vgPattern doesn't match in volume group  name still th

[2021-04-21 06:38] w3aman opened #53 "volume resizing is failing in case of xfs file-system"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.]
- volume resizing is failing when xfs fstype is used

error:
[code]

[2021-04-21 06:47] w3aman commented on #52
/closing
Yes, it was correct working.
Actually `lo*` regex will work as first `l` and then zero or more occurances of `o`
so it took `l` and zero `o` this time so pattern become only `l` and which is obviously a substring for `lvmvg`

[2021-04-21 06:47] #52 closed

[2021-04-21 08:17] #53 closed

[2021-04-27 12:56] abhranilc opened #60 "For configuring IOPS for volumeGroups, desired: prefixMatch, current: substringMatch"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.]
If we configure iops for the volumegroupPrefix "lvmvg", and in runtime if the volumeGroup in the MountVolumeRequest is "prefx-lvmvg-suffix", the iops would be set as configured from "lvmvg".
**What did you expect to happen:**
This is not desired as per the definition of t

[2021-04-27 12:58] abhranilc commented on #60
/assign

[2021-04-28 08:17] #60 closed

[2021-05-03 02:51] mazocode opened #62 "CSIDriver is missing fsGroupPolicy"
**What steps did you take and what happened:**
Created a new volume with fsGroup specified on pod spec securityContext but permissions were root:root 0755

**What did you expect to happen:**
Filesystem mounted with group set to GID specified in fsGroup.

**Anything else you would like to add:**

The CSIDriver is missing fsGroupPolicy: File

**Environment:**
- lvm-localpv version: 0.4.0

[2021-05-03 03:11] pawanpraka1 commented on #62
@mazocode what is the k8s version you are using? Fsgroup policy is in alpha in k8s 1.19 and it is in beta in k8s 1.20. If you are already using k8s with fsgroup policy enabled then please check if storage class's has fstype mentioned (see the similar discussion in the other repo https://github.com/openebs/zfs-localpv/issues/282). The default fsGroupPolicy is ReadWriteOnceWithFSType if not mentione

[2021-05-03 03:25] mazocode commented on #62
I am using 1.20.2 and the storageclass has fsType: ext4. I could not get fsGroup working without  setting the fsGroupPolicy manually on the driver.

[2021-05-03 03:38] pawanpraka1 commented on #62
Can you set the policy to ReadWriteOnceWithFSType and see if it is working? Another thing we can try is use fstype parameter instead of fsType in the storage class (not sure if this will work but k8s could be looking for fstype string possibly).

[2021-05-05 07:01] #47 closed

[2021-05-05 07:08] pawanpraka1 commented on #62
@mazocode did you try the above steps?

[2021-05-05 09:14] mazocode commented on #62
Unfortunately, there are already volumes created referencing the driver. I will try this on another cluster, but this may take some time.

[2021-05-05 09:43] pawanpraka1 commented on #62
@mazocode sure. Let me know if you need any help.

[2021-05-06 09:19] balous opened #63 "Volume expansion doesn't work"
**What steps did you take and what happened:**

I've set up OpenEBS LVM CSI driver, created VGS, added PSP and SC. Than I've created statefulset with volume claim template, PVs were created, pods are running. So far so good.

Than I've tried to expand one of the volumes - I've edited the PVC and increased its size. And nothing happened.

Now I see following events:

[code]

**What did you expect t

[2021-05-06 09:21] balous commented on #63
Strange thing - the events and the logs contain missing `spec.vgPattern` error message. But now I see that the `lvmvol` resources do contain this field.

[2021-05-06 10:09] pawanpraka1 commented on #63
@balous vgpattern has not been release yet, it will be release as part on next release(v0.5,15th May). It seems like you are using ci image, can you check the images you are using?

I can see vgpattern in the CR, those error logs are still coming?

[2021-05-06 10:23] balous commented on #63
Well, I've deployed the CI version using the command from readme, than I've downgraded the images to `0.4.0`. Now I understand the problem, the CRD definitions are too new.

Reverting back to `ci` images fixed the problem.

[2021-05-06 10:23] #63 closed

[2021-05-06 10:23] balous commented on #63
Thank you.

[2021-05-06 10:37] pawanpraka1 commented on #63
Hmmm, So I think the sequence of event would be like this :
1. deploy ci operator yaml
2. provision the volume
3. downgrade the images  to 0.4.0
4. resize the volume

The volumes must be provisioned in ci image only since vgpattern is populated in the CR.

@balous are you evaluating lvm-localpv? would you like to mention your use case in our adopters(https://github.com/openebs/openebs/issues/2719)

[2021-05-18 06:39] pawanpraka1 opened #74 "add migration of disk to different node for LVM LocalPV"

[2021-05-21 09:07] mittachaitu opened #75 "add support of lvm-localpv to run in other distros of linux"
**Describe the problem/challenge you have**
Used RHEL **centos-7** to provision volumes, when I deployed the
application pod it stuck in `ContainerCreating` state due to mounting issues.
[code]

**Describe the solution you'd like:**
It is good to add support of lvm-local PV on different linux distros.

**Anything else you would like to add:**
No

**Environment:**
- LVM Driver version: lvm2
- Kuber

[2021-05-21 15:28] iyashu opened #77 "expose node level disk & fs metrics (if not already present in node exporter)"
Required node disk & filesystem level metrics along with their grafana dashboards and few sane alerts preferably in [kube-prometheus mixin](https://github.com/kubernetes-monitoring/kubernetes-mixin) format. I think most of the following metrics are already present in node exporter and we just need to add the grafana dashboard and few basic alerts. Feel free to add more if required.

1. Utilisation

[2021-05-21 15:56] iyashu opened #78 "expose pvc/pod level metrics (if not already exposed by kubelet and cadvisor)"
Required k8s persistent volume & filesystem level metrics along with their grafana dashboards and few sane alerts preferably in [kube-prometheus mixin](https://github.com/kubernetes-monitoring/kubernetes-mixin) format. I believe many of them are already exposed by kubelet (or embedded cadvisor), but we need to check and expose them for cgroup v2 hierarchy as well.

1. Utilisation metrics (both ino

[2021-05-23 10:58] kmova commented on #9
The following PRs were merged with helm support start with 0.5.0

- #48
- #66
- #67

[2021-05-23 11:00] kmova commented on #9
Keep the task open to update the usage instructions in the readme.

[2021-05-23 23:33] joshuacox commented on #62
@pawanpraka1 can you post an example yaml file for the storage class with the fsGroupPolicy specified?

I hamhandedly tried:

[code]

[2021-05-24 01:15] pawanpraka1 commented on #62
@joshuacox can you try this storageclass yaml
[code]

[2021-05-24 03:44] pawanpraka1 opened #80 "wipe the filesystem when volume is deleted."
We should clean the filesystem on the logical device when we are deleting it.

[2021-05-25 14:28] #80 closed

[2021-06-09 07:17] kmova commented on #78
Most of the metrics are available via:
- kube-state-metrics
- cAdvisor
- Node exporter (standard and include kubelet mount point metrics )

In addition to the above, the LVM node-plugin will expose metrics (in addition to what exposed by sample LVM textfile exporter) with required labels attached to the metrics to co-relate with metrics exposed via standard exporters enabled in the cluster.

Sampl

[2021-06-09 17:21] iyashu commented on #78
Thanks @kmova. Let me know as the dashboard gets ready & pushed somewhere. I would like to try them out in our playground clusters.

[2021-06-10 10:50] prateekpandey14 opened #93 "Enable monitoring on thin pool to allow auto-extend threshold automatically"
**Describe the problem/challenge you have**
- Automatic extension requires **dmeventd** (device mapper event daemon) service to be running to continuously monitor the LVs
But in case of container based LVM is not able to communicate with dmeventd service, the monitoring gets disable, and auto extend of thin pools did not work as expected.
[code]
-  For a workaround currently its requires monitorin

[2021-06-11 05:52] huzhengchuan commented on #75
[root@hzcmaster0 openebs-example]# cat /etc/os-release
NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="7"
PRETTY_NAME="CentOS Linux 7 (Core)"
ANSI_COLOR="0;31"

meet the same question！

[2021-06-11 06:39] #9 closed

[2021-06-11 12:02] pawanpraka1 commented on #62
we have made the change in the CSi driver to set default fstype to ext4 if not mentioned in the storageclass.With the release of v0.6, fsgrouppolicy should work for the storageclasses which does not have fstype. Closing this issue. Please reopen if you guys are facing any issue.

[2021-06-11 12:02] #62 closed

[2021-06-14 14:02] pawanpraka1 opened #97 "make snapshot size configurable via snapshot class"
Currently we are creating the snapshot with size same as volume size(https://github.com/openebs/lvm-localpv/blob/master/pkg/lvm/lvm_util.go#L334) because it can occupy at max that much space only. It was done to make sure that snapshot should never gets corrupted.

Now, there can be the case where we want to limit this size to less than the volume size because we don't want to reserve the same spa

[2021-06-14 14:05] pawanpraka1 commented on #97
Snapshotclass parameters gets passed to CreateSnapshot grpc call, We need do three steps to implement this
1. add size parameter in the Snapshot CR
2. parse the `size` parameter
3. populated the snapshot CR with the `size`
4. use `size` while creating the snapshot (https://github.com/openebs/lvm-localpv/blob/master/pkg/lvm/lvm_util.go#L334).

[2021-06-14 14:37] akhilerm commented on #97
@pawanpraka1 A bit confused on why we need to create a new size field in the snapshot custom resource

We already have the size in the `VolumeInfo{}` which is used inside `LVMSnapshot{}` struct. Why not use the size field in VolumeInfo{}. We are not storing any volume related info in the snapshot spec. Also, since snapshot is again a volume in LVM, i think it makes sense to reuse the size field, t

[2021-06-14 14:41] pawanpraka1 commented on #97
@akhilerm spec in snapshot CR points to volumeinfo only. It is used to get information of the original volume. Although we can reuse the same field but that defeats the purpose as we will lose the one information about the source volume from where snapshot has been created. So we need to add a field to specify the size/limit of the snapshot.

[2021-06-14 15:38] pawanpraka1 opened #98 "add support to create thin snapshots"
By default we create thick snapshot for all kind of provisioned volumes. We need to add support for thin snapshot. We should create thin snapshots for thin volumes and thick snapshots for thick volumes.

So there are two scenarios here :

1. Snapshot class `snapsize` parameter
[code]

In this case whether volume is thin provisioned or thick provisioned, we should create a thick snapshot with size

[2021-06-14 17:03] akhilerm commented on #97
Not to be clubbed with this issue, but we also need a restructuring in the snapshot custom resource.
- Currently we have the `VolumeInfo` as the spec of the snapshot resource which can cause confusion.
- Ideally the spec of snapshot should contain fields related to the specification of snapshot like snapshot size, along with the volume info of the origin volume.
- A proposed change is, create a ne

[2021-06-18 14:31] pawanpraka1 opened #104 "LVM-LocalPV should pick the node where enough space is available for immediate binding"
Currently for the immediate binding case we have two scheduling logic
1. Volumeweighted, here we pick the node where less number of volumes are provisioned
2. CapacityWeighted here we pick the node where size of all the provisioned volumes are less

These 2 are not sufficient as there is a possibility of getting a node where enough space is not availabe as none of above scheduling logic look for t

[2021-06-20 15:36] huangfangfeng opened #105 "When custom node Labels has been deleted, LVM LocalPV CSI driver will not schedule the PV to the node"
**What steps did you take and what happened:**

- Currently, all custom node Labels will be registered when restart the LVM-LocalPV Driver, CSI node topologyKeys will keep all those keys even if node labels has been changed. When custom node Labels has been deleted, LVM LocalPV CSI driver will not schedule the PV to the node, restart the LVM-LocalPV Driver daemon set is a must requirement.

**What

[2021-06-21 03:29] pawanpraka1 commented on #105
@huangfangfeng this is interesting. The way you have described above, the LVM driver works exactly the same way. Once you add/remove the label, you need to restart the node agent pod running on that node and topology keys should be updated accordingly.

Did you try to restart the LVM driver daemonset running on nodes where you have modified the node label?

[2021-06-21 03:42] huangfangfeng commented on #105
I don't want to restart the node agent pod when node label change, especially i cant't predit all the delete action, unless i watch the node label modify, and that's a big expenses.

[2021-06-21 05:17] pawanpraka1 commented on #105
Can you elaborate your use case? Generally customers label the node once only.

[2021-06-21 06:00] huangfangfeng commented on #105
1. some other third-party component will add labels to node
2. our usage scenarios include some scheduling strategy that depend on node label and that label will change if node resource change.

[2021-06-21 14:40] mittachaitu opened #108 "depricate support of volgroup parameter in StorageClass"
**Describe the problem/challenge you have**
If the user specifies both `volgroup` & `vgpattern` in StorageClass parameters
currently, `volgroup` will take more precedence and in end, LVM volume will be
created on user-specified `volgroup`.  This behavior is good if `volgroup` value
is sub-pattern of `vgpattern` but if both `volgroup` and `vgpattern` differs then
CSI driver should error out about d

[2021-06-21 17:58] #98 closed

[2021-06-22 06:09] pawanpraka1 commented on #105
@huangfangfeng, I see that you have a PR for this, would you like to upstream it?

[2021-06-22 06:42] #97 closed

[2021-06-25 03:31] joshuacox opened #112 "Rancher?"
**What steps did you take and what happened:**
Installed this in rancher, but I am not getting any volumes provisioned.

**What did you expect to happen:**
Volumes to be provisioned

**The output of the following commands will help us better understand what's going on**:
(Pasting long output into a [GitHub gist](https://gist.github.com) or other [Pastebin](https://pastebin.com/) is fine.)

* `kube

[2021-06-25 05:55] pawanpraka1 commented on #112
@joshuacox can you share the o/p `$ kubectl get csidrivers local.csi.openebs.io -oyaml`? Also can you shared the o/p of `kunectl describe pvc`?

[2021-06-25 15:05] joshuacox commented on #112
[code]

[code]

[code]

[code]

[2021-06-25 15:08] joshuacox commented on #112
@pawanpraka1 of note this is RancherOS, so it might be missing some lvm utility that openebs is expecting.

[2021-06-25 15:30] pawanpraka1 commented on #112
@joshuacox I see that the error is "no available topology found". Can you get me below o/p?
[code]

Also, I need to check the openebs-lvm-plugin container log in the openebs-lvm-controller-0 pod.

[2021-06-25 15:41] pawanpraka1 commented on #112
that might be the case but control has not reached to that stage. It is failing before that.

Can you also share  openebs-lvm-plugin container log in the openebs-lvm-node-xxxx pod also? Also, what is the k8s version you are using?

[2021-06-25 15:55] joshuacox commented on #112
k8s = 1.20.8
[code]

[code]

Here are the logs with lines like `Successfully synced 'openebs/orm01-vault2'` pruned:

[code]

[code]

[code]

[2021-06-25 16:37] pawanpraka1 commented on #112
@joshuacox spec.drivers in CSInode object is null. That means lvm driver is not able to register. Can you get me the driver-registrar log from the node daemonset pod openebs-lvm-node-xg5bk.

[2021-06-25 17:50] joshuacox commented on #112
[code]
And here are the other two:

[code]

[code]

Which look the same to me.

[2021-06-26 15:03] joshuacox commented on #112
@pawanpraka1  In an attempt to start from scratch I uninstalled openebs by removing the app in the rancher interface and then reinstall, I quickly ran into some borkage where I couldn't create the test pvc:

[code]
Which is similar to an error I missed on uninstall:
[code]
Anyhow, I have blown away the entire installation and started from scratch to achieve the same results of no provisions:

[cod

[2021-06-28 03:15] pawanpraka1 commented on #112
@joshuacox, it seems like driver registration is not happening. Can you add the following directory mapping to the services_kubelet->extra_binds section of the cluster'scluster.yml file.
[code]
The LVM CSI deployment uses /var/lib/kubelet as kubelet directory (https://github.com/openebs/lvm-localpv/blob/master/deploy/lvm-operator.yaml#L1388).

[2021-06-28 15:02] joshuacox commented on #112
@pawanpraka1  Where do I add this binding?

[2021-06-28 16:49] pawanpraka1 commented on #112
@joshuacox you can update cluster.yml file with extra
[code]

you can do the same using rancher UI by editing the yaml (see this https://forums.rancher.com/t/solved-rancher-agent-kubelet-extra-binds/14658/2).

[2021-06-28 22:44] joshuacox commented on #112
@pawanpraka1  hmm, still no luck, I went ahead and blew everything away and started again from scratch.  But still stuck in pending:

[code]

here is my full cluster.yml

[code]

[code]

[code]

[code]

[2021-06-29 02:29] pawanpraka1 commented on #112
hmmmm, @joshuacox Let me check if we have a rancherOS setup in our lab. Will test and update here.

[2021-07-02 03:17] #112 closed

[2021-07-13 14:37] prateekpandey14 opened #120 "How to configure snapshot size using SnapshotClass"
**Describe the problem/challenge you have**
LVM Localpv now support the `SnapSize` SnapshotClass parameter to configure the snapshot size , but the documentation is missing which should be added.

[2021-07-14 15:20] mittachaitu opened #121 "feat(thin-pool) auto-reclaim the space reserved for thin pool"
**Describe the problem/challenge you have**
As of when [thin volume](https://github.com/openebs/lvm-localpv/blob/master/docs/thin_provision.md) is provisioned, LVM creates a thin pool on underlying
VG which reserves the space to provision thin volume(from same thin pool).
This reserved space is good if user has a use case to create thin volumes in near future.
If there are no thin volume on pool a

[2021-07-15 05:55] #120 closed

[2021-07-19 06:12] pawanpraka1 commented on #105
fixed via https://github.com/openebs/lvm-localpv/pull/110.

[2021-07-19 06:12] #105 closed

[2021-07-29 09:34] mpepping commented on #75
Using EL8 (Centos 8) there is no issue whatsoever in using lvm-localpv. The deployment is straightforward. The PVC/PV lifecycle works as expected, and LVM logical-volume devices are created/mounted/removed as supposed. All good!

Now, the [README.md](https://github.com/openebs/lvm-localpv/blob/master/README.md#L38) limits the supported system config to Ubuntu. Will CentOS 8 / RHEL 8 be considered

[2021-08-14 23:28] davidkarlsen opened #131 "duplicate name label in lvm-node in chart"
**What steps did you take and what happened:**
Apply install via flux, which uses kustomize for post-rendering, which is sensitive to duplicate yaml keys.

do:
[code]
to showcase bug

[code]
[A clear and concise description of what the bug is, and what commands you ran.]

**What did you expect to happen:**
No duplicate keys

**The output of the following commands will help us better understand wha

[2021-08-18 10:41] pawanpraka1 commented on #131
fixed https://github.com/openebs/lvm-localpv/pull/133.

[2021-08-18 10:41] #131 closed

[2021-08-18 10:42] pawanpraka1 commented on #131
@davidkarlsen can you try 0.8.0 helm chart and see if it is working?

[2021-08-18 13:13] davidkarlsen commented on #131
I install it via the umbrella-chart, so when that's updated I can roll it out.

[2021-08-20 14:23] kmova opened #134 "Support for creating volumes on LVM2 shared volume group"
**Describe the problem/challenge you have**

LVM2 supports shared volume groups that are implemented with different types of clustered LVM modules. Shared volume groups are used in deployment topologies where - storage devices are connected to multiple storage nodes. For example, using  SAS modules to connect multiple storage nodes to a single(or multiple) JBODs.

In such cases, administrators can

[2021-08-20 17:26] TProhofsky commented on #134
VG discovery is a good feature to change Publish behavior.  Both Node Publish and then Controller Publish which covers other deployments with virtual machines and ISCSI/NVMe proxy mode.

One thing to keep in mind is possible vgname collisions with multiple nodes.    Adding the vguuid to the Storage Class definition will remove this possibility.  It could be made optional and only checked by the CS

[2021-08-23 11:56] davidkarlsen opened #135 "fails to format"
**What steps did you take and what happened:**

[code]

beacause:

[code]

Maybe it should force by default or some notes added to the docs.

**What did you expect to happen:**
formatting should happen

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**
- LVM Driver version
- Kubernetes version (use `kubectl version`):
- Ku

[2021-08-23 12:04] w3aman commented on #135
Hi @davidkarlsen
Can you please tell us the environment details like LVM-driver version, k8s version and OS ?

[2021-08-23 12:26] davidkarlsen commented on #135
[code]

[code]

[code]

openebs helm chart 2.12.0

[2021-08-24 07:19] kmova commented on #135
@davidkarlsen -- this looks related to #75.

Would it be possible to try this on RHEL 8?

[2021-08-24 07:31] davidkarlsen commented on #135
It looks the same.
Unfortunately I can't run on RHEL8 as it's not supported for OCP. In my cases I had just deleted some LVs, then created a new one, which probably landed at the same offset, so w/o clearing the old volume it will probably find a magic superblock and avoid formatting w/o using force.

[2021-08-24 08:42] davidkarlsen opened #136 "online resizing?"
**Describe the problem/challenge you have**

after editing pvc, I see
[code]
which requires pod-restart

**Describe the solution you'd like**
would it be possible to online-reszing? A vanilla xfs fileystem which is mounted on a VM can be resized while mounted.

**Anything else you would like to add:**
- RHEL
- xfs
- openshift

**Environment:**
- LVM Driver version
- Kubernetes version (use `kubect

[2021-08-24 18:03] davidkarlsen commented on #135
Can wiping and zeroing be controlled when the volumes are created? I'd recommend having both enabled by default.

[2021-08-25 07:23] pawanpraka1 commented on #135
@davidkarlsen that was the plannd item for LVM LocalPV. We already wipe the lvm partition when we delete the volume. From the error it looks like you already had some partition before and volume landed at the same offset. We need to clear the fs at the creation time also. We had planned this and somehow missed implementing it. Will take care of adding this enhancement.

[2021-08-25 08:13] davidkarlsen commented on #135
Note that the safest is to do wipe at create too.

[2021-08-25 12:09] pawanpraka1 commented on #135
@davidkarlsen I have raise a PR(https://github.com/openebs/lvm-localpv/pull/138) to fix it. Can you try with the image `pawanpraka1/lvm-driver:vp` and see if it is working.

[2021-08-26 07:33] debackerl opened #139 "Log verbosity"
**Describe the problem/challenge you have**
10 times per second the csi-provisioner container will print:

`I0826 07:22:52.833956 1 nodes.go:334] topology unchanged`

**Describe the solution you'd like**
Probably change log level from Info to Debug for that event, and ability to not print Debug logs unless requested.

Now, almost everything I see is that message, and it makes finding real messages

[2021-08-26 08:27] taozix opened #140 "miss csistoragecapacity object."
**Describe the problem/challenge you have**
did not see object csistoragecapacity in kube-system when enable storageCapacity in csidriver.

**Environment:**
- LVM Driver version: 0.8.0
- Kubernetes version (use `kubectl version`): 1.21.3
- Kubernetes installer & version: kubeadm
- other:
-kubectl get pods -n kube-system -l role=openebs-lvm
NAME                       READY   STATUS    RESTARTS   AG

[2021-08-29 20:35] davidkarlsen commented on #135
Hmm, then howcome I experience this problem with 0.8.0?
BTW, when you format, do you pass the -f (force) option?

[2021-08-30 04:50] mittachaitu commented on #135
Yes, we are passing -f(force) option from 0.6.0 version onwards

[2021-08-30 11:13] w3aman commented on #140
@taozix I see you have used Immediate binding mode in your storage-class. You should be using `WaitForFirstConsumer` as volume binding mode in sc yaml. Can you please try with that once ?

` volumeBindingMode: WaitForFirstConsumer`

Note: Please use updated Yaml from this PR.

I've Added `--enable-capacity=true` in csi-provisioner along with `POD_NAME` env.

[2021-08-30 23:47] davidkarlsen commented on #135
Then it's a bit surprising to meet this in the current release for two reasons:

1. If volumes are wiped at creation the superblock should be wiped in the first place and the bug should not surface
2. If force formatting it should ignore it and pass anyway

I'll try to provoke this in a third cluster when I have time.

[2021-08-31 02:29] taozix commented on #140
kubectl -n kube-system get csistoragecapacity
NAME          CREATED AT
csisc-b6w9n   2021-08-31T02:23:20Z
csisc-hfktr   2021-08-31T02:23:20Z
csisc-zn6kk   2021-08-31T02:23:20Z

cool!

[2021-08-31 02:32] #140 closed

[2021-09-03 19:20] davidkarlsen commented on #135
Tried now with 2.12.2 chart, still same:
[code]

[2021-09-09 20:37] davidkarlsen commented on #135
same problem on 2.12.5

[2021-09-09 20:41] davidkarlsen commented on #135
From the logs:
[code]

note that there is no `-f` in:
attempting to format as type: "xfs" with options: [/dev/datavg/pvc-d5be05a4-f5f8-4b7e-83b3-b53eaaff8937]

[2021-09-09 20:59] davidkarlsen commented on #135
The issue lies here: https://github.com/kubernetes/mount-utils/pull/5

[2021-09-10 15:58] kmova commented on #139
Related: #146 for configuring the log level

[2021-09-10 22:43] davidkarlsen commented on #135
https://github.com/kubernetes/kubernetes/pull/104923

[2021-09-12 14:36] mittachaitu commented on #135
Looks like even with above `force` flag issue is the still the same... When this issue occurred following are the system logs:
[code]

Above error -22 leads to `EINVAL` which means Invalid Argument(As I understood kernel is not yet supporting the same)... and did some googling around above error takes me to this [page](https://serverfault.com/questions/746377/want-to-understand-xfs-strangeness).

[2021-09-12 15:58] davidkarlsen commented on #135
@mittachaitu I believe that's another problem (it has another error-message) - please create a separate issue for that.

[2021-09-13 05:22] mittachaitu commented on #135
Above is the error I got when tried to mount xfs formatted lvm volume and the issue description is also having a simmilar error.. So I belive both are the same...

Mounting arguments: -t xfs -o defaults /dev/datavg/pvc-c9073859-fd54-4890-b444-b96e6f46dea1 /var/lib/kubelet/pods/0c34d38c-88f0-4a1c-bf6f-02e6b3ab05cd/volumes/kubernetes.io~csi/pvc-c9073859-fd54-4890-b444-b96e6f46dea1/mount
Output: moun

[2021-09-13 05:39] mittachaitu commented on #75
After digging into the issue found the root cause of not being able to mount xfs formatted LVM volumes...  It was happening due to incompatibility between xfs version inside the csi-container and xfs version at host machine... To address this issue we have to format the xfs with following option `mkfs.xfs -m reflink=0 <device_name>`

[2021-09-14 12:37] davidkarlsen commented on #135
@w3aman could you maybe by any chance pull in my hack on mount_utils? Merging into Kubernetes and waiting for a release will take forever.

[2021-09-19 22:18] davidkarlsen commented on #75
This is a duplicate of #135. It's because mount_utils doesn't force format xfs filesystems.

[2021-09-19 22:35] davidkarlsen opened #157 "Volumes go missing."
**What steps did you take and what happened:**
Created a pvc, which got formatted and mounted just fine. Then booted the machine, after bootup the volume is not to be found! This causes loss of data and is very severe.

**What did you expect to happen:**
Not loosing volumes!

**The output of the following commands will help us better understand what's going on**:
(Pasting long output into a [GitHu

[2021-09-19 22:41] davidkarlsen commented on #157
see in the messages logs how it was fine before boot, then goes missing 40mins later when booting:
[code]

I have seen this on several pvc's, so it's not a single isolated case.

helm -n openebs list
NAME    NAMESPACE       REVISION        UPDATED                                 STATUS          CHART           APP VERSION
openebs openebs         35              2021-09-16 23:51:51.718139269 +0000

[2021-09-20 07:00] kmova commented on #157
@davidkarlsen -- few questions:

* What is the size of the volume group?
* How many volumes are you creating on the volumes group and their total size, when the above issue starts to show up?
* Can you run the lvm commands to see if the volumes really exist on the node and the capacity information of volumes and the corresponding vg.

[2021-09-20 07:05] davidkarlsen commented on #157
* around 300G, plenty of space
* a few 1-3
* I've run pvscan --cache and lvscan, not to be found at all (!)

[2021-09-20 13:05] davidkarlsen commented on #157
this is the SC definition:
[code]

[2021-09-20 13:09] kmova commented on #157
@davidkarlsen - I wonder if this may be related to https://access.redhat.com/solutions/2175491

[2021-09-20 13:11] pawanpraka1 commented on #157
@davidkarlsen Currently we support ubuntu based systems only, if possible, try to change the host OS to ubuntu. Also, is the issue reproducible everytime you reboot the machine?

[2021-09-20 13:13] davidkarlsen commented on #157
no every single time, but very often.

[2021-09-20 13:13] davidkarlsen commented on #157
not every single time, but very often.
as this is openshift, we can't use ubuntu

[2021-09-20 13:14] davidkarlsen commented on #157
Hmm, how can I figure out if multipath is in use?
But I doubt it as we're on:
[code]
which should not be affected.

[2021-09-20 14:11] kmova commented on #157
How is the reboot of the machine triggered? Does it clear all the volumes? Can you try to capture the lvm config file after volumes are provisioned and post the reboot to check if this is actually a config sync issue?

Also we are trying to put together a troubleshooting guide for LVM metadata corruption cases and how to recover from them. Here is the draft version: https://docs.google.com/documen

[2021-09-20 16:47] davidkarlsen commented on #157
No - it's not set to clear all volumes as reboot! :-)
we cordon the node, then drain all but daemonsets, with options: --delete-emptydir-data --ignore-daemonsets

indeed I do not find any references to the volumes in the lvm config! (this is prior to any reboot):

[code]

[code]

[2021-09-20 16:55] davidkarlsen commented on #157
could this perhaps be a se-linux issue? I assume the lvm command are executed into the host-system from one of the openebs containers, and that might not have enough privilegies?

SCCs in openshift: https://docs.openshift.com/container-platform/4.8/authentication/managing-security-context-constraints.html#default-sccs_configuring-internal-oauth

[code]

[2021-09-20 17:09] davidkarlsen commented on #157
This should be of interest:

[code]

and from the pod:
[code]

i.e. the lifecycle-hook does not run!

[2021-09-21 11:40] kmova commented on #157
@davidkarlsen -- the above information is really helpful! container permissions and location where the configuration is saved do sound like the possible causes for this issue.

Just spoke to @pawanpraka1 - and he wants to test out a few things. Will get back to this thread in a bit.

[2021-09-21 11:47] pawanpraka1 commented on #157
That is a good find, but should not cause the issue. There will be stale socket file present on the system because of that.

@davidkarlsen can you execute `pvscan --cache` (and lvscan) command before doing node reboot. I am wondering whether node cache is not updated before reboot, if not, we might lose the volumes.

[2021-09-21 14:22] davidkarlsen commented on #157
It seems to not persist:
[code]

[2021-09-29 21:20] davidkarlsen commented on #157
Ok, so I've tried creating a bunch of volumes and rebooting machines.
Two changes:
* I noticed the previous openebs install was not 100%, because in some upgrade the storageCapacity flag went from false to true, so the helm install was not complete, as this flag is immutable. I deleted the csidriver and let the chart install it again which then succeeded.
* I previously used XFS-based filesystems,

[2021-10-03 10:42] OussamaSALAHOUELHADJ commented on #8
Hey @pawanpraka1, just to clarify, by merging do you mean moving files from pkg/config to pkg/driver and then deleting pkg/config?

[2021-10-03 11:45] pawanpraka1 commented on #8
@OussamaSALAHOUELHADJ yes, that is correct. And also we need to fix the references in code to point to the new location.

[2021-10-03 11:50] OussamaSALAHOUELHADJ commented on #8
ok Got it, can you please assign it to me.

[2021-10-04 04:33] himanshu007-creator commented on #6
Hi @pawanpraka1  , i would like  to work on this issue

[2021-10-04 06:02] OussamaSALAHOUELHADJ commented on #8
Hey @pawanpraka1, I am in the process of merging pkg/config into pkg/driver, while fixing the references in the code I got this compiling error:
[code]
the problem is that `lvm` package imports the `config` package and the `driver` package imports the `lvm` package causing the import cycle...
instead of moving files from `config` to `driver`, I suggest including the `driver` package inside `driver

[2021-10-04 06:13] pawanpraka1 commented on #8
Moving to pkg/driver/config sounds good to me.

[2021-10-04 08:18] OussamaSALAHOUELHADJ commented on #8
A PR has been submitted regarding this issue, please review. #160

[2021-10-05 15:05] #8 closed

[2021-10-06 17:24] flokli opened #161 "lvm-operator.yaml in release doesn't pin container version"
**What steps did you take and what happened:**
I deployed according to the readme, which directs me to `kubectl apply -f deploy/lvm-operator.yaml`.

**What did you expect to happen:**
I checked out a specific tag/release (0.8.5 in that case). I expected the yaml file to pin that version.

However, https://github.com/openebs/lvm-localpv/blob/lvm-localpv-0.8.5/deploy/lvm-operator.yaml#L1258 uses the

[2021-10-07 15:20] flokli commented on #104
This is also a problem with heterogenous clusters, where some nodes don't (yet) have the VG created.

`openebs-lvm-controller` keeps trying to create the volume on a node where the volume group doesn't even exist, and keeps failing (and also doesn't seem to take taints into consideration, preventing a pod from getting scheduled there).

[2021-10-10 21:10] arianvp commented on #161
The release artifact; as per release instructions  (https://openebs.github.io/charts/lvm-operator.yaml) does have the version pinned.

There is also an lvm chart in https://openebs.github.io/charts that has the version pinned (https://github.com/openebs/lvm-localpv/tree/develop/deploy/helm/charts)

[2021-10-11 05:57] pawanpraka1 commented on #161
@flokli the installation step (https://github.com/openebs/lvm-localpv#installation) uses the artifact with the proper release tag. Can you use this operator yaml : https://openebs.github.io/charts/lvm-operator.yaml.

[2021-10-11 06:33] flokli commented on #161
Yes, but these are not named with a version themselves, so https://openebs.github.io/charts/lvm-operator.yaml could point to a new version tomorrow.

[2021-10-11 10:55] flokli commented on #161
Is there a versioned URL, that contains the properly versioned container images in the manifests?

[2021-10-11 11:31] pawanpraka1 commented on #161
@flokli we add it here https://github.com/openebs/charts/blob/gh-pages/versioned/3.0.0/lvm-operator.yaml. But this one is based on OpenEBS release version, as you can see in above operator yaml, lvm 0.8.2 is part of Openebs 3.0.0 release.

[2021-10-12 06:37] pawanpraka1 commented on #6
fixed via https://github.com/openebs/lvm-localpv/pull/160

[2021-10-12 13:40] flokli commented on #161
Thanks, this is good enough!

I wonder if https://github.com/openebs/lvm-localpv#installation should also link to the versioned ones.

[2021-10-12 13:43] pawanpraka1 commented on #161
@flokli would you like to add that in the installation steps?

[2021-10-12 13:56] flokli commented on #161
PR is up at https://github.com/openebs/lvm-localpv/pull/162

[2021-10-12 14:07] #161 closed, assigned to nobody

[2021-10-17 09:38] flokli opened #163 "openebs-lvm-plugin is busylooping on systems without dm-snapshot kernel module loaded"
**What steps did you take and what happened:**

I tried to snapshot a volume created by lvm-localpv.

I created a [Default SnapshotClass Without SnapSize Parameter](https://github.com/openebs/lvm-localpv/blob/51707f7f3fa4ab643feabde7a459743bfc70b33e/docs/snapshot.md#default-snapshotclass-without-snapsize-parameter), and then a `VolumeSnapshot` resource:

[code]

**What did you expect to happen:**

[2021-10-17 09:51] flokli commented on #163
From a bit of research, during snapshotting we invoke the `lvcreate` command, which does try to invoke modprobe to load the `dm_snapshot` kernel module (as it's not yet loaded).

Maybe we need to mount the host kernel modules from inside the pod? Or document that this kernel module needs to be loaded in each hosts' distro configuration before deploying lvm-localpath?

[2021-10-17 09:53] flokli commented on #163
I manually ran a `modprobe dm-snapshot` on the host, and the volumesnapshotcontent got "ReadyToUse".

[2021-10-23 05:03] t3hmrman opened #164 "Support for LV types (RAID0/1/5/10)"
**Describe the problem/challenge you have**
I'd like to be able to use `lvm-localpv` with [`lvmraid` (LVM native RAID)](https://man7.org/linux/man-pages/man7/lvmraid.7.html) to take advantage of RAID on a VolumeGroup with multiple drives.

Unfortunately LVM does not allow setting default Logical Volume `type`s on VolumeGroups (this is probably for the best, complexity wise), so when `lvm-localpv`

[2021-10-26 11:32] pawanpraka1 commented on #163
@flokli that is the prerequisite for the snapshot. We need add that in our doc (if not mentioned) https://github.com/openebs/lvm-localpv/blob/develop/docs/snapshot.md.

[2021-10-26 17:18] flokli commented on #163
Yeah, it's not documented right now, and the error handling isn't very graceful - we shouldn't try multiple times per second.

[2021-11-06 11:32] iyashu opened #165 "expose go runtime pprof endpoint"
**Describe the problem/challenge you have**
We saw one issue where lvm localpv node agent gets stuck without moving ahead with usual execution (syncing node status & other control loop stuck as we don't see any logs) and wanted to debug it further to see any potential deadlock. Since lvm-localpv don't expose any go runtime information, we could not collect the go routine stack traces.

**Describe

[2021-11-19 07:00] zwForrest commented on #31
In the case of waitforfirstconsumer, the pod will be scheduled by [parameters](https://kubernetes.io/docs/reference/scheduling/config/#scheduling-plugins-1), then the node will be selected by scheduler, but lvm did not participate in kubernetes scheduling.  This means that the node selected by lvm and the one selected by kubernetes scheduler may not be the same.

[2021-11-22 03:24] zwForrest opened #167 "scheduler plugin for lvm"
**Describe the problem/challenge you have**
[A description of the current limitation/problem/challenge that you are experiencing.]
In the case of waitforfirstconsumer, the pod will be scheduled by default scheduler, then the node will be selected by scheduler, but lvm did not participate in default scheduling. This means that the node selected by lvm and the one selected by kubernetes scheduler ma

[2021-11-23 07:22] Ab-hishek commented on #134
Here is an initial design/approach document for shared LVM2 shared volumes: https://docs.google.com/document/d/13D8Ht__66n66c5ZBThPwqhKjyJey0GFKVO3dgK3w8OA/edit?usp=sharing

[2021-11-24 11:11] pawanpraka1 commented on #167
@zwForrest LVM-LocalPV already has k8s StorageCapacity feature where the lvm information is shared with the k8s scheduler and it pick the node based on score that driver shares. See this https://kubernetes-csi.github.io/docs/storage-capacity-tracking.html.

[2021-11-25 06:46] pawanpraka1 commented on #163
fixed via https://github.com/openebs/lvm-localpv/pull/166

[2021-11-25 07:36] flokli commented on #163
This issue is about the non-graceful busylooping, which isn't fixed yet.

[2021-11-25 08:25] pawanpraka1 commented on #163
@flokli that is as per design, the driver will keep on trying to create snapshot/volume. That is the LVM-LocalPV reconcillation logic.

[2021-11-25 08:37] flokli commented on #163
Yes, but it should backoff on failure. There's no point trying multiple times per second.

[2021-11-25 09:06] pawanpraka1 commented on #163
@flokli hmmm make sense to add backoff here. have reopened it. I will add this to our roadmap.

[2021-11-25 09:21] flokli commented on #163
Thanks!

[2021-11-30 13:15] zwForrest commented on #167
@pawanpraka1 With storage capacity tracking can only guarantee that the node has enough capacity. But the selected node may not be the most suitable node. This feature does not score nodes based on resource capacity. See this https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/1472-storage-capacity-tracking#drawbacks

[2021-12-27 09:21] tanguofu opened #172 "FileType xfs Mount failed: exit status 32 wrong fs type, bad option, bad superblock on"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.]

[code]

**What did you expect to happen:**

**The output of the following commands will help us better understand what's going on**:
(Pasting long output into a [GitHub gist](https://gist.github.com) or other [Pastebin](https://pastebin.com/) is fine.)

* `kubectl logs -

[2021-12-27 09:46] tanguofu opened #173 "how can list the logic Volume of pvc in host node ?"
**Describe the problem/challenge you have**
[A description of the current limitation/problem/challenge that you are experiencing.]

[root@node1 ~]# ls /dev/datavg/ -lh
total 0
lrwxrwxrwx 1 root root 7 Dec 27 17:23 pvc-0b6c8388-c194-463d-85f8-188e63697023 -> ../dm-0
lrwxrwxrwx 1 root root 7 Dec 27 17:41 pvc-e72ea418-0890-4cba-83bb-3f419b67da0d -> ../dm-1
[root@node1 ~]# vgdisplay
  --- Volume group

[2021-12-27 09:55] pawanpraka1 commented on #173
@tanguofu can you run `pvscan --cache` on node to update the cache and then do the lvdisplay.

[2021-12-27 10:34] tanguofu commented on #173
many thanks !

[2021-12-27 13:32] pawanpraka1 commented on #173
thanks for confirming @tanguofu. Would you like to mention your use case in our adopters(openebs/openebs#2719) file.

[2021-12-27 13:32] #173 closed, assigned to nobody

[2022-01-17 09:23] zwForrest opened #174 "When creating lvmvolume without check whether lvmnode matches the vgpattern"
**What steps did you take and what happened:**
kubernetes has 3 nodes, node A has vggroup vg_hdd, node B has vggroup vg_hdd, node C has vggroup vg_ssd.
All nodes have the same topology label.

Pvc yaml
[code]

Storageclass yaml
[code]
After creating the PVC, the lvmvolume may be created on nodeA or nodeB, the scheduling algorithm does not consider using vggroup information for matching. Then the v

[2022-01-17 09:44] pawanpraka1 commented on #174
@zwForrest, if node A nad Node B don't have a volume group of name vg_ssd*, volume should never be created on that node. Can you check the volume groups available on those nodes? Also, note that a temperary vol object may be created with the Status as Pending/failed, but it will be deleted automatically without getting transitioned into Ready state.

I would recommend to use delayed binding to lev

[2022-01-17 09:48] pawanpraka1 commented on #172
@tanguofu we support ubuntu as of now. It is in our roadmap to support other distros. see this issue https://github.com/openebs/lvm-localpv/issues/75.

[2022-01-26 14:25] lixiaopengy opened #175 "How to restore data through snapshot of localpv LVM"
I only see examples related to creating snapshots in the document. How can I restore data through the generated snapshots？

[2022-01-27 08:14] pawanpraka1 commented on #175
Restore is not supported yet. We can create a clone volume out of the snapshot. See this https://github.com/openebs/lvm-localpv/issues/13.

[2022-01-30 04:17] murkylife commented on #175
Can you please provide more info on how I can create a clone volume out of a snapshot?

[2022-01-30 04:48] pawanpraka1 commented on #175
@murkylife clone is not supported yet. It is in our roadmap. Could you add you use case to the issue #13 . It will help us prioritize this feature.

[2022-01-30 06:15] murkylife commented on #13
I noticed that this project supports VolumeSnapshot. I would also like to be able to restore from the snapshots taken, i.e. creating a PVC from a snapshot.

example:
[code]

My goal is to be able to use a backup tool like Kasten K10 to backup my PVCs to s3. For this it needs snapshot and restore functionality.

[2022-01-30 06:43] murkylife commented on #175
@pawanpraka1 , done, thanks. If there's no support for any restore, whats the point of the snapshot support? Can i access it somehow?

[2022-01-31 05:58] pawanpraka1 commented on #175
@murkylife there are manual steps required to create the clone volume and few manual CRs we have to create to make it available to a new pod.

[2022-02-16 05:54] Ab-hishek commented on #134
Hi @TProhofsky, the shared vg document is ready and shared above. Can you PTAL and confirm if this looks okay to you or if any changes are required?

[2022-02-16 15:35] TProhofsky commented on #134
I added a comment to issue a vgscan if the the LV is not found during mounting.  Also I suggested we add the lock method as value instead of simply shared.  This could be debated since at this time there is no action needed to be taken by the CSI agent that is unique to one particular mode of lvmlockd.

I don't understand how OwnerNodeID is being consumed but to me this looks unnecessary.  LVM2 ho

[2022-02-16 19:49] TProhofsky commented on #164
Another feature I use with LVM2 RAID is --nosync.  When using SSDs that guarantee returning zeros for unwritten LBAs and support unmap/trim and lvm.conf has issue_discards=1, then the RAID doesn't need to be synchronized.  This saves both time and SSD wear.

[2022-02-17 01:53] vlads123 commented on #13
I have very similar use case like described above.

Being able to make a snapshot is very useful but you also need to be able to use it)))

Thanks in advance

And will be very useful if you can give ETA

[2022-02-18 06:19] sleepymole opened #177 "Support custom volume group priority algorithm"
**Describe the problem/challenge you have**

When there are multiple volume groups on a node, the lvm-driver always creates volume on the first volume group if possible.It seems this is expected as the `getVgPriorityList` says:
https://github.com/openebs/lvm-localpv/blob/e41d25a0cd22d1deef2058fb99fae003bfd9f584/pkg/mgmt/volume/volume.go#L140-L143

However, we'd like to create volumes on different

[2022-02-26 04:28] rajivml opened #179 "RHEL Support"
HI,

The documentation says only Ubuntu is supported, any idea on when RHEL support will be added because RHEL is by far the default operating system used in all enterprises.

Thanks

[2022-03-08 07:18] pawanpraka1 commented on #104
fixed via https://github.com/openebs/lvm-localpv/pull/178.

[2022-03-08 07:32] #104 closed

[2022-03-14 02:23] SHIKHER09 commented on #177
hello, Can I work on it

[2022-03-14 04:18] pawanpraka1 commented on #177
Hi @SHIKHER09, sure, you can work on it. Please let me know if you need any help. You can join our slack channel [#openebs-dev](https://app.slack.com/client/T09NY5SBT/C015124PVTL) in K8s workspace and ask the questions there.

[2022-03-17 01:28] duclm2609 opened #180 "Error bind to existing PV: verifyMount: device already mounted"
Hi guys,
I'm running a statefulset which using lvm-localpv as storageclass. Recently there is a requirement to expand the volume size, but since the statefulset cannot update PV size directly, I follow the following steps to increase the PV size:

1. Delete the statefulset (with options --cascade=orphan )
2. Delete the pod.
3. Edit the PVC to increase storage capacity. The PV and the PVC expand as

[2022-03-17 08:47] pawanpraka1 commented on #180
@duclm2609 You should not need to re-deploy the stateful set. Can you just try to resize the PVC only (setp 3 only), it should work for your use case.

[2022-03-28 18:31] javiku opened #182 "Volume created in Node with memory pressure"
**What steps did you take and what happened:**

I have a cluster with 1 master and 2 worker nodes. One of the workers is reporting `MemoryPressure` condition.

When I deploy a new Pod with an ephemeral volume backed by OpenEBS LVM-localpv, the volume is sometimes created in the Node under memory pressure. Once the volume (PV) is created in one of these Nodes, the scheduler fails to schedule the Po

[2022-03-28 18:58] javiku commented on #182
This behavior was due to using `volumeBindingMode: Immediate` instead of **`volumeBindingMode: WaitForFirstConsumer`** by mistake. Once I changed it in the StorageClass, the problem disappeared.

[2022-03-28 18:58] #182 closed, assigned to nobody

[2022-04-23 01:52] nkwangleiGIT opened #188 "Use SpaceWeighted as the default scheduler"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.]
As we introduced a new SpaceWeighted scheduler, and it can do better LVM volume binding, see the details in the PR below:
https://github.com/openebs/lvm-localpv/pull/178
But the default is still CapacityWeighted as we set the default value when initialize the params.

**W

[2022-04-25 08:38] abhilashshetty04 opened #189 "Controller refactor to use dynamic client instead of generated code"
This project uses controllers which watches over 3 cr's. Controller plugin(lvmnodes). Node plugin(lvmvolumes, lvmnodes, lvmsnapshots)

Currently all these controllers are using generated code to implement client. We could use dynamic client from client-go which would reduce code foot prints and will make code more readable as well. In addition to that i am adding only 1 method which would create a

[2022-05-01 15:12] benn0r opened #190 "Snapshots are not created"
**What steps did you take and what happened:**
Followed this guide: https://github.com/openebs/lvm-localpv/blob/develop/docs/snapshot.md

**What did you expect to happen:**
Snapshot should be created

**The output of the following commands will help us better understand what's going on**:

`E0501 15:06:50.777462       1 volume.go:270] Get snapshot failed  err: lvmsnapshots.local.openebs.io "snapsh

[2022-05-02 03:21] pawanpraka1 commented on #190
Can you share the snapshot yaml and also share the lvm volume yaml  you are using to create the snapshot?

[2022-05-02 07:48] benn0r commented on #190
Here my yaml, i hope it helps:

[code]

[code]

[code]

[2022-05-02 08:16] pawanpraka1 commented on #190
@benn0r could you share the controller logs and the daemonset logs of the node where volume is present?

[2022-05-02 08:37] benn0r commented on #190
daemonset:

[code]

controller:

[code]

Log in the controller repeats rapidly, it keeps trying to create the snapshot.
No errors in daemonset at all

[2022-05-02 09:01] pawanpraka1 commented on #190
What is the k8s and LVM-LocalPV version you are using?

[2022-05-02 09:06] pawanpraka1 commented on #190
It seems like CRDs are not updated in your case. How did you install it?

[2022-05-02 09:33] benn0r commented on #190
openebs/lvm-driver:0.7.0 -> is that what you asked?
Kubernetes Version: v1.22.7 (K3s) -> installed with Rancher on Photon OS

I installed openebs with the Partner Chart from Rancher: https://github.com/rancher/partner-charts/tree/main-source/charts/openebs/openebs/3.0.0

I can see now that openebs/lvm-driver:0.9.0 is already relased. Should i try to upgrade?

[2022-05-02 09:36] pawanpraka1 commented on #190
@benn0r can you install 0.9.0 and try? Here is the helm chart location https://github.com/openebs/lvm-localpv/tree/develop/deploy/helm/charts.

[2022-05-02 09:51] pawanpraka1 commented on #190
The CRDs here https://github.com/rancher/partner-charts/tree/main-source/charts/openebs/openebs/3.0.0 are outdated. Please install it from the LVM-LocalPV repo.

[2022-05-02 10:03] benn0r commented on #190
You are right, thanks a lot. WIth openebs 3.2.0 chart and updating the crds it works now!

[2022-05-02 10:03] #190 closed, assigned to nobody

[2022-05-12 03:37] nkwangleiGIT commented on #175
What's the status of snapshot restore support, is there anyone working on this?

[2022-05-30 08:37] davidkarlsen opened #191 "Volumes are formatted when they shouldn't"
**What steps did you take and what happened:**
We had an issue where we replaced the lvmvolume CRDs.
Previosly we checked in the CRDs alongside the helm-chart, after the change, we set flux to
[code]
this in order to make CRDs be handled with the chart.

This however set deletion-timestamps on the lvmvolume CRs, so in order to avoid the volumes being deleted on reboots, I did

[code]

Everything t

[2022-05-30 09:35] davidkarlsen commented on #191
The core of the problem is that openebs sees the volume as not formatted:

[code]

[2022-06-02 08:07] Ab-hishek commented on #134
We have hit a challenge here while implementing this feature. For adding shared-vg support, we cannot use separate lvm binaries inside a container to perform lvm related operations because we need to use the same lvm configuration that are applied on the node. Therefore, we tried to use the binaries that the node already has with it and using that we should be performing the operations.

A small P

[2022-06-14 05:52] git-yww opened #193 "LVs are invisible on the host machine"
We created a new pod with a lvm pvc, it started successfully and everything seemed ok.

With 'lvs' command executed in the csi container, we could find the new lv:
`bash-5.0# lvs | grep vg01`
`pvc-dcd29be5-41c6-46b0-bd81-93e45056ee95 vg01     -wi-ao----  4.00g`
**However, when we executed 'lvs' command on host, no lv existed...**
`[ivan@k8s-node16 ~]$ sudo lvs | grep vg01`
`[ivan@k8s-node16 ~]$`

[2022-06-14 13:14] abhilashshetty04 opened #194 "Modify ratelimiter for controlled exponential backoff in lvmvolume controller"
With the default ratelimiter DefaultControllerRateLimiter()  being used while creating controller for lvmvolumes. It re queues items after 5ms. Which means reconciliation happens after ~5ms. Which is unnecessary.

We need to look for ratelimiter which can increase the period between each retries.

[2022-06-14 13:24] abhilashshetty04 commented on #163
Hi @flokli . Fixed via https://github.com/openebs/lvm-localpv/pull/186

Please refer following commit:
https://github.com/openebs/lvm-localpv/pull/186/commits/285c4fdf884fe8e22d8bd5ba7d575dc84aa21916#diff-15287c675d6a896a857d384251c95d7ecbf7b84f01d6629bd89e588c17ba330eR93

[2022-06-14 14:15] flokli commented on #163
Thanks!

[2022-06-14 14:15] #163 closed, assigned to abhilashshetty04

[2022-06-16 06:20] abhilashshetty04 commented on #189
Pr is merged. Closing the issue.

[2022-06-16 06:20] #189 closed, assigned to abhilashshetty04

[2022-06-17 02:56] iswbm opened #196 "Why does openebs-lvm-controller use StatefulSet ?"
When the node where openebs-lvm-controller is located goes down, the pod of lvm-controller will always be in terminating and will not be automatically started on other nodes.

So I  wonder why does openebs-lvm-controller use StatefulSet ?

Are there any special considerations?

[2022-06-17 08:26] ptthon opened #197 "delete pvc and pv success,but lv is not automatically deleted"
**What steps did you take and what happened:**
1. Create a pvc
2. Delete the pvc
3. Delete the pv (association of PVC)

**What did you expect to happen:**
1. pvc and pv is delete successfully
2. lv is delete,but I can find the lv on the machine still
--- Logical volume ---
  LV Path                /dev/lvmvg/pvc-530f82a7-c8bf-4c8f-83e6-6adf5e75ac12
  LV Name                pvc-530f82a7-c8bf-4c8f-8

[2022-06-20 07:03] npu21 commented on #197
Ran into this issue days ago too

[2022-06-22 07:03] git-yww commented on #193
#173 Found this related issue with a "pvscan --cache" solution. However, every time we provision a new lv, pvscan --cache command will need to be executed once on the host machine. Obviously, that's not an elegant solution.

[2022-06-22 07:21] git-yww commented on #193
Propose another way here:
<img width="942" alt="image" src="https://user-images.githubusercontent.com/24515225/174966772-37f8901a-269c-49f8-b58b-879b17310b22.png">
Before execute the lvcreate command, we first enter the mount namespace of the host machine by nsenter. To see host mount namespace in the lvm node container, a "hostPID=true" is also needed for the lvm node pod spec.
After some tests,

[2022-06-22 07:25] git-yww commented on #173
Please pay attention to whether [this](https://github.com/openebs/lvm-localpv/issues/193#issuecomment-1162742609) is a better solution @pawanpraka1.

[2022-06-30 05:41] abhilashshetty04 commented on #194
Closing issue as Pr https://github.com/openebs/lvm-localpv/pull/195 is merged

[2022-06-30 05:41] #194 closed, assigned to abhilashshetty04

[2022-07-11 20:50] phhutter commented on #175
I'm also quite interested in this feature.
Do you have any eta for the 3.3 release?

[2022-07-11 21:19] phhutter opened #200 "RFE: automate creation of PV and VG"
**Describe the problem/challenge you have**
When using the OpenEBS lvm localpv provisioner we have to manually create one or more PV(s) and assign them to a VG. To allow a full end to end automation, we would like to have this task done by an operator.

**Describe the solution you'd like**
The creation of a PV and VG should be automated. An operator should look for a disk (e.g. /dev/sdb) or a disk

[2022-07-11 21:47] phhutter opened #201 "PodSecurityPolicy is deprecated since k8s 1.21"
**Describe the problem/challenge you have**
The PodSecurityPolicy is deprecated since 1.21 and will be removed in Kubernetes 1.25.

src: https://kubernetes.io/docs/concepts/security/pod-security-policy/

**Solution**
use SecurityContextConstraints instead

[2022-07-14 07:22] phhutter opened #203 "make the installation of snapshot.storage.k8s.io CRDs optional"
Hi,

Could we make the installation of the following CRDs optional?

https://github.com/openebs/lvm-localpv/blob/develop/deploy/helm/charts/crds/volumesnapshotclasses.yaml
https://github.com/openebs/lvm-localpv/blob/develop/deploy/helm/charts/crds/volumesnapshotcontents.yaml
https://github.com/openebs/lvm-localpv/blob/develop/deploy/helm/charts/crds/volumesnapshots.yaml

Is there a reason why you

[2022-07-21 10:36] ianroberts commented on #93
... and this command can only be run _after_ the first LVM local PV has been provisioned on that particular node.  If I try to enable monitoring on a node where the thin pool exists but has not yet had any local PVs provisioned on it, I get

[code]

[2022-08-01 05:42] Ab-hishek commented on #134
Have updated the issue with all the findings and bottlenecks. To get a better clarity, the following action items can be taken up to find the root cause of the above problem and take corresponding actions to fix it. **Point to note:**  After forcefully interrupting the process(lvm create command), we see that the lv is created and seen in the `lvs` command but not sure that the created lv is a hea

[2022-08-03 02:17] npu21 commented on #157
We occur this issue too!

After a reboot, we found  a lv disappear while other lvs are normal.
![R`6 M7ZPTIVO}V 86A)`R2](https://user-images.githubusercontent.com/11768607/176373310-59bdc916-5434-4e36-894c-b29fea56b11c.png)

The lost lv coundn't be found in /dev/mapper or /dev/lvmvg. There isn't any clue in the openebs pods logs or the lvm services
![image](https://user-images.githubusercontent.co

[2022-08-03 02:18] npu21 commented on #157
@davidkarlsen Could you reopen this issue?

[2022-08-03 09:23] npu21 commented on #157
@kmova @pawanpraka1 Could you please take a look?

[2022-08-03 16:41] davidkarlsen commented on #157
reopened

[2022-08-03 16:42] davidkarlsen commented on #157
@npu21 what OS do you run on the nodes?

[2022-08-03 21:39] TProhofsky commented on #134
DLM and Sanlock have several known issues and I would suspect some unknown issues.  Seagate has contributed the IDM locking mode to LVM2  2.3.13 which is now in Red Hat and Rocky Linux 8.6.  The IDM method replaces the DLM/Sanlock version of lvmlockd with something more robust.  Let me know if you want to collaborate on getting an IDM compatible system setup for development.

[2022-08-04 02:20] npu21 commented on #157
@davidkarlsen Thanks!
Linux version 5.4.61-050461-generic (kernel@kathleen) (gcc version 9.3.0 (Ubuntu 9.3.0-10ubuntu2)) #202008260931 SMP Wed Aug 26 09:34:29 UTC 2020

[2022-08-04 03:46] npu21 commented on #157
one more clue is the lvm logs
![image](https://user-images.githubusercontent.com/11768607/182758975-058ac166-316a-4393-a07f-9885fe7f6036.png)

[2022-08-22 23:13] gunzy83 commented on #157
I am currently evaluating some local storage options and reading through issues here and elsewhere but thought I might chime in. This is sounding like a case of `openebs-lvm-node` not having an exclusive lock on the metadata of the volume group (ie `lvm2-lvmmetad.service` is interfering). I do not think it is a good idea having multiple services operating on the volume group at once. Could you try

[2022-08-24 08:27] npu21 commented on #157
@gunzy83 Agree! There seems need to add an exclusive lock on createing and delete logic volumes
@wrtabhi611  Could you please take a look at this ? When going through the source code, I found there are places operating pvs,vgs,lvs supposing atomic  operation, which are not in fact.
Thanks in advance!

[2022-08-24 09:15] gunzy83 commented on #157
I wonder if `lvm2-lvmmetad.service` operates with the same semantics (assuming it has exclusive use of the pvs/vgs/lvs)? If so adding logic into openebs would be the way to go. If not, providing some general guidance in the documentation that `openebs-lvm-node` needs exclusive use would be prudent.

[2022-08-24 09:59] davidkarlsen commented on #157
Why would this be needed? Doesn't the service run normally, and users can run LVM commands without LVM getting corrupt?

[2022-08-24 10:42] gunzy83 commented on #157
Only a theory but users on the host would be running those commands from the same namespace I assume. Inside a container you would need to break namespace isolation for commands/services on the host to be able to coordinate with the commands being run from the container. Would be happy to be proven wrong.

For reference, [Topolvm](https://github.com/topolvm/topolvm) look to have solved the issue t

[2022-08-25 03:41] npu21 commented on #157
@davidkarlsen @gunzy83 In fact, we have reproduced this issue more than once.
Procedure
[code]
After runing above steps circularly  ,there are chances to reproduct the issue. The lvs will display <9 LVs , and the lost LV will disappear forever after reboot.

[2022-08-25 07:49] npu21 commented on #157
@davidkarlsen  Did you notice this  locking_type in /etc/lvm/lvm.conf ? My test env didn't config this previously.
I've configured this and retest now

![image](https://user-images.githubusercontent.com/11768607/186604928-c420a675-8196-454a-a80a-f53fb8141254.png)

[2022-08-25 08:36] abuisine opened #206 "CRDs are not installed through Helm while setting crd.enableInstall to true"
**What steps did you take and what happened:**
I tried to install lvm-localpv either through this chart v1.0.0 or through the openebs umbrella one 3.3.0.
The value `crd.enableInstall` is by default enabled for lvm-localpv but CRDs are not installed

**What did you expect to happen:**
CRDs to be installed

**The output of the following commands will help us better understand what's going on**:

**A

[2022-08-31 15:49] michaeloreillyintel opened #207 "Requesting an update on the FOSSA licensing issue"
The Github mentions that there are 22 issues found with the licenses for this repo.

Is there anyone looking at resolving the problems as many organisations would be wary of adopting this codebase as-is.

[2022-09-02 07:21] pawanpraka1 commented on #207
@michaeloreillyintel we need prioritize this item.

[2022-09-02 07:24] michaeloreillyintel commented on #207
I find it hard to figure out what items are being flagged. It says 22 issues. Are you just missing license headers on files within the repo, or are these from imported dependencies?

[2022-09-20 10:24] npu21 opened #208 "Need to support LVM striping"
**Describe the problem/challenge you have**
LVM support stripping for better I/O performance using striped logical volume when there‘re number of disks
So，if lvm-localpv support this will be a useful feature
![image](https://user-images.githubusercontent.com/11768607/191234078-1cb38ecd-244b-4751-b1b4-68110de7847a.png)

**Describe the solution you'd like**
The storage class add parameters regarding

[2022-09-26 08:44] tmsdce commented on #157
I think @gunzy83 is right regarding `lvmetad` interfering with openebs in the handling of LVs (a locking issue seems indeed a good place to start investigating). This seems confirmed in my testings too.

I tried to use `lvm-localpv` on Flatcar Linux and nothing worked as expected (I know it's not officially supported but that's what I'm using ^^). The controller was happy with volumes being create

[2022-10-10 11:17] nward commented on #134
Hi, I am new to this project and am looking for a way to expose a single physical volume (backed by a libvirt volume) to multiple nodes (multiple VMs, on the same libvirt host). This issue sounds like exactly what I'm looking for - so am happy to get involved - I'm probably not able to solve the problems here, at least in the short term, but I'm happy to test etc.
The topolvm project that was refe

[2022-10-12 00:10] TProhofsky commented on #134
Nathan,  the feature of LVM2 that allows shared storage architectures (multiple server connected to the same block device(s)) is described by the lvmlockd man page: https://man7.org/linux/man-pages/man8/lvmlockd.8.html.  When a LVM2 Volume Group is created with the --shared flag and locks are started, LVM2 will manage metadata updates and LV activation across all attached servers of the cluster.

[2022-10-12 00:41] nward commented on #134
Hi! I am familiar with this feature - I have used this on iSCSI shared volumes in the past. The flag is `--clustered`, rather than `--shared` though, right? Or is there another flag I'm not aware of?

My confusion is that the readme for this repo describes a VG available on multiple nodes - which I understand that this issue is addressing and is not yet complete, so I am not clear what the current

[2022-10-14 20:23] psi-4ward opened #209 "Is it safe to have manual created LVs on localpv-managed VGs?"
Hi,
I've some VGs where lvm-localpv acquires LVs. Is it safe to have some LVs which in the same VG which are generated manually (ie `lvcreate -L1G my-lv vg0`)?

Does lvm-localpv leave these LVs at it is? Does it have impact to capacity calculation?

 Thx ;)

[2022-10-21 09:48] npu21 commented on #13
Is there any going on update？

[2022-10-25 17:39] javiku opened #210 "Empty thin pool LV seems to be taken into account for capacity monitoring"
**What steps did you take and what happened:**

- I have a 10GB PV and an initially empty VG (no LVs)
- I configure a StorageClass to use Thin Provisioning
- I start **one Pod with two volumes of 8GB each**
- a **Thin Pool LV is created** (size 8GB) and two LVs inside it for each Pod volume
[code]
- after the Pod is deleted, the last two LVs are removed, but **the Thin Pool LV remains**, which loo

[2022-11-02 11:28] PraveenJP commented on #175
Any update on this? Please share the manual steps to restore @pawanpraka1

[2022-11-16 23:56] patrickjahns opened #211 "Metrics not working due to duplicated metrics ( "collected before with the same name and label values" )"
**What steps did you take and what happened:**

Prometheus is no longer able to fetch metrics from a node.  Checking the logs revelead the following errors in the logs
[code]

**What did you expect to happen:**

Scraping of prometheus metrics working without any issue.

**Anything else you would like to add:**

When the logical volume is split in several Segments (in this case 2), `ListLVMLogicalV

[2022-11-21 19:45] eugene-marchanka opened #213 "kubernetes `v1.25.4` LVM: unable to mount `xfs` File System"
**What steps did you take and what happened:**
Hey!

I successfully installed OpenEBS Operator to my Kubernetes cluster recently provisioned with Kubespray.
Also successfully created 2 Storage Classes: for `ext4` and `xfs` file systems:

I'm using `xfs` file system for `mongodb` as recommended one and default `ext4` for other PVCs.

`ext4` PVC was successfully created and mounted to desired pod bu